@import 'normalize.css';
*{ box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body{
    background-color: #01579B;
        font-family: 'Roboto', sans-serif;

   
}

#container{
    width: 1024px;
    margin:0 auto;
 

}
#nav1{
    width: 100%;
}
#nav1 ul{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid white;
    background: #0182e7;
}


#nav1 li{
    padding: 15px;
    list-style: none;
    background:#012c4f;
    color:#eee;
    letter-spacing: 2px;
    border-right: 2px solid white; 
    position: relative;
    right:20px;
}
#nav1 li:hover{
    color:#111;
    background:#E1F5FE ;
}
#nav1 li:last-child{
    border-right:0;
}

#nav1 li.active{
    color:#111;
    background:#E1F5FE ;
}
#nav1 li.active:hover{
    background:#012c4f;
    color:#eee;
}
#tresc{
    display: flex;
}
#qwerty1{ 
    width: 50%;
    padding: 10px;
    background-color: #012c4f;
    text-align: justify;
    border-right: 1px solid white;
    color:#eee;
    border-radius: 20px;
    
}
#qwerty2{ 
    width:50%;
    padding: 10px;
    background-color: #012c4f;
    text-align: justify;
    border-left: 1px solid white;
    color:#eee;
    border-radius: 20px;
    
}
@media screen and (max-width:1048px) {
    #container{
        width: 100%;
    }
}
@media screen and (max-width:540px) {
    #nav1 li{
        padding:15px 5px;
    }
}
